.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
Pipeline_executed.ipynb

# Pastas geradas pela extração
COMANDO DE OPERAÇÕES TERRESTRES*/
Manual de Campanha*/
Gerados/
# Chaves de API e Segredos
.env

# Documentos Originais e Processados (Não commitar os manuais doutrinários)
Arquivos/
*.pdf
*.xml
